/* Author styles go here */

/* PARTICLES BOX */

#particles-js {
  margin-top: 50px;
  height: 300px;
  width: 100%;
  background: #00457D;
}

/* GLOBAL STYLES / HOME PAGE */

body {
  background-color: whitesmoke;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
}

a {
  color: #3F4354;
}

a:hover {
  color: darkgray;
}

#laura-headshot {
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}

#about p {
  margin-top: 30px;
}

li {
  list-style-type: none;
}

#myNavbar {
  float: right;
}

#projects {
  border-top: 2px solid #3F4354;
  padding-top: 30px;
  padding-bottom: 20px;
}

div.projects {
  height: 230px;
  min-width: 100px;
  border: 1px solid #3F4354;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.75em;
}

/* PROJECT PAGES */

#website-preview {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-top: 20px;
}

#buttons {
  text-align: center;
}

button {
  margin-top: 40px;
  background-color: #00457D;
}

button a {
  color: lightgray;
}

button a:hover {
  color: white;
}

#project-description {
  text-align: center;
}

h3 {
  font-size: 1.25em;
  line-height: 1.25em;
  margin-bottom: 50px;
}

/* FOOTER */

footer {
  text-align: center;
  background: #00457D;
  color: white;
  position: absolute;
  width: 100%;
  left: 0;
}

footer a {
  color: lightgray;
}

footer a:hover {
  color: white;
}

#footer-nav ul {
  padding-left: 0;
}

#footer-nav li {
  display: inline-block;
  padding: 10px;
  border-right: 2px solid #00457D;
}

#footer-nav li:last-child {
  border-right: none;
}

#social-media {
  padding-left: 0;
}

#social-media li {
  display: inline-block;
  padding-right: 10px;
}